<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="TimOutPeriod" value="30"/>
	  <add key="DebugMode" value="FALSE"/>
	  <add key="FromPath" value="\\NGPROD-ROOT\NextGenRoot\Prod\EMR\Reports\VIS"/>
	  <add key="ToPath" value="\\NGSTORAGE-ROOT\Images\Prod\ImageSaved"/>
	  <add key="LogPath" value="\\NGPROD-ROOT\NextGenRoot\Prod\Components\SRX-Copy-Util\SRX-Copy-Util_Files"/>
	  <add key="KeepResponseCopy" value="TRUE"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.web>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
